pipeline/pp_loadAPIdata_toSQLserver.json
{
	"name": "pp_loadAPIdata_toSQLserver",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://dummy.restapiexample.com/api/v1/employees",
					"method": "GET"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "WebOutput",
								"value": {
									"value": "@{activity('Web1').output}",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "WebOutput",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_dummyfile",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ApiJsonOutput",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['status']"
								},
								"sink": {
									"name": "status"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['id']"
								},
								"sink": {
									"name": "id"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['employee_name']"
								},
								"sink": {
									"name": "employee_name"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['employee_salary']"
								},
								"sink": {
									"name": "employee_salary"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['employee_age']"
								},
								"sink": {
									"name": "employee_age"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['profile_image']"
								},
								"sink": {
									"name": "profile_image"
								}
							},
							{
								"source": {
									"path": "$['message']"
								},
								"sink": {
									"name": "message"
								}
							},
							{
								"source": {
									"path": "$['ADFWebActivityResponseHeaders']['X-RateLimit-Limit']"
								},
								"sink": {
									"name": "X-RateLimit-Limit"
								}
							},
							{
								"source": {
									"path": "$['ADFWebActivityResponseHeaders']['X-RateLimit-Remaining']"
								},
								"sink": {
									"name": "X-RateLimit-Remaining"
								}
							},
							{
								"source": {
									"path": "$['ADFWebActivityResponseHeaders']['Cache-Control']"
								},
								"sink": {
									"name": "Cache-Control"
								}
							},
							{
								"source": {
									"path": "$['ADFWebActivityResponseHeaders']['Date']"
								},
								"sink": {
									"name": "Date"
								}
							},
							{
								"source": {
									"path": "$['ADFWebActivityResponseHeaders']['Server']"
								},
								"sink": {
									"name": "Server"
								}
							},
							{
								"source": {
									"path": "$['ADFWebActivityResponseHeaders']['Vary']"
								},
								"sink": {
									"name": "Vary"
								}
							},
							{
								"source": {
									"path": "$['ADFWebActivityResponseHeaders']['host-header']"
								},
								"sink": {
									"name": "host-header"
								}
							},
							{
								"source": {
									"path": "$['ADFWebActivityResponseHeaders']['X-Endurance-Cache-Level']"
								},
								"sink": {
									"name": "X-Endurance-Cache-Level"
								}
							},
							{
								"source": {
									"path": "$['ADFWebActivityResponseHeaders']['X-nginx-cache']"
								},
								"sink": {
									"name": "X-nginx-cache"
								}
							},
							{
								"source": {
									"path": "$['ADFWebActivityResponseHeaders']['X-Server-Cache']"
								},
								"sink": {
									"name": "X-Server-Cache"
								}
							},
							{
								"source": {
									"path": "$['ADFWebActivityResponseHeaders']['X-Proxy-Cache']"
								},
								"sink": {
									"name": "X-Proxy-Cache"
								}
							},
							{
								"source": {
									"path": "$['ADFWebActivityResponseHeaders']['Transfer-Encoding']"
								},
								"sink": {
									"name": "Transfer-Encoding"
								}
							},
							{
								"source": {
									"path": "$['ADFWebActivityResponseHeaders']['Content-Type']"
								},
								"sink": {
									"name": "Content-Type"
								}
							},
							{
								"source": {
									"path": "$['ADFWebActivityResponseHeaders']['Expires']"
								},
								"sink": {
									"name": "Expires"
								}
							},
							{
								"source": {
									"path": "$['effectiveIntegrationRuntime']"
								},
								"sink": {
									"name": "effectiveIntegrationRuntime"
								}
							},
							{
								"source": {
									"path": "$['executionDuration']"
								},
								"sink": {
									"name": "executionDuration"
								}
							},
							{
								"source": {
									"path": "$['durationInQueue']['integrationRuntimeQueue']"
								},
								"sink": {
									"name": "integrationRuntimeQueue"
								}
							},
							{
								"source": {
									"path": "$['billingReference']['activityType']"
								},
								"sink": {
									"name": "activityType"
								}
							},
							{
								"source": {
									"path": "$['billingReference']['billableDuration'][0]['meterType']"
								},
								"sink": {
									"name": "meterType"
								}
							},
							{
								"source": {
									"path": "$['billingReference']['billableDuration'][0]['duration']"
								},
								"sink": {
									"name": "duration"
								}
							},
							{
								"source": {
									"path": "$['billingReference']['billableDuration'][0]['unit']"
								},
								"sink": {
									"name": "unit"
								}
							}
						],
						"collectionReference": "$['data']"
					}
				},
				"inputs": [
					{
						"referenceName": "ds_FinalJson",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_JsonApi",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}